.success {
    background: green;
    margin: 1em 0;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
}
.failar {
	background: pink;
    margin: 1em 0;
    padding: 0.3em 1em;
    border-radius: 3px;
	border-color: red;
	border-style: dotted;
    color: black;
}
input[type=text].failar {
	margin: 0;
	border-color: red;
	border-style: dotted;
    border-width: 3px;
	width: 233px;
	height: 42px;
}
#errorStatus.failar {
	display, inherit;
	-webkit-animation-name: shiver;
	animation-name: shiver;
	-webkit-animation-iteration-count: 3;
	animation-iteration-count: 3;
	-webkit-animation-duration: .1s;
	animation-duration: .1s;
}
@-webkit-keyframes shiver {
    0% {-webkit-transform: translate(0px, 0px);transform: translate(0px, 0px)}
    50% {-webkit-transform: translate(10px, 0px);transform: translate(10px, 0px)}
    100% {-webkit-transform: translate(0px, 0px);transform: translate(0px, 0px)}
}
@keyframes shiver {
    0% {-webkit-transform: translate(0px, 0px);transform: translate(0px, 0px)}
    50% {-webkit-transform: translate(10px, 0px);transform: translate(10px, 0px)}
    100% {-webkit-transform: translate(0px, 0px);transform: translate(0px, 0px)}
}